:root {
   --general-background-c: 20, 20, 20;

   --alpha-c: 240, 240, 240;
   --beta-c: 0, 194, 201;
   --gamma-c: 216, 167, 4;

   --alpha-channel-c: 0.5;

   --transition-theme-time: .75s;
}

[class*="Container"] {
   margin: 0 auto;
   max-width: 68.75rem;
   padding: 0 0.9375rem;
}

/* ========== Theme Switcher ========== */
html[data-theme='light'] {
   color-scheme: light;
   --general-background-c: 245, 245, 245;
   --alpha-c: 20, 20, 20;
   --beta-c: 2, 74, 76;
   --gamma-c: 176, 120, 14;
}
/* ========== Theme Switcher End ========== */

body {
   background-color: rgb(var(--general-background-c));
   transition: background-color var(--transition-theme-time);
   font-size: 1.5rem;
   line-height: 1.3;
   letter-spacing: 0.4px;
   color: rgb(var(--alpha-c));
   overflow-x: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
body::before {
   content: '';
   background-image: url('../../public/images/background1.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   width: 52%;
   height: 40rem;
   z-index: -1;
}
body::after {
   content: '';
   background-image: url('../../public/images/background2.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: top;
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 20rem;
   z-index: -1;
}
.wrapper::before {
   content: '';
   background-image: url('../../public/images/background3.png');
   background-size: 100% 100%;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 30rem;
   z-index: -1;
}
.wrapper::after {
   content: '';
   background-image: url('../../public/images/background4.png');
   background-size: 100% 100%;
   position: absolute;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 30rem;
   z-index: -1;
}


@media (max-width: 900px) {
   body::before,
   body::after {
      display: none;
   }
   .wrapper::before,
   .wrapper::after {
      display: none;
   }
}