.header {
   padding-top: calc(2.1875rem + 10 * ((100vw - 320px) / (1280 - 320)));
   padding-bottom: calc(2.1875rem + 10 * ((100vw - 320px) / (1280 - 320)));
   border-bottom: 0.0625rem solid rgb(var(--alpha-c));
   position: relative;
}
.headerContainer {
   display: flex;
   align-items: center;
   gap: 50px;
}
.imageWrapper {
   max-width: 300px;
}
.image {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
   border: 0.125rem solid rgba(var(--gamma-c), 0.7);
   border-radius: 20%;
   box-shadow: 1.25rem 1.25rem 3.75rem rgba(var(--gamma-c), 0.4), -1.25rem -1.25rem 3.75rem rgba(var(--gamma-c), 0.4);
}
.heroWrapper {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   gap: calc(0.5rem + 7 * ((100vw - 320px) / (1280 - 320)));
   transition: color var(--transition-theme-time);
}
.title {
   font-size: calc(2rem + 27 * ((100vw - 320px) / (1280 - 320)));
   font-weight: 700;
   max-width: min-content;
   line-height: 0.9;
   letter-spacing: 0.0625rem;
}
.gorisontalLine {
   display: block;
   width: 100%;
   height: 0.0625rem;
   background-color: rgb(var(--alpha-c));
   transition: background-color 1s;
}
.description {
   cursor: text;
   font-size: calc(1.1rem + 7 * ((100vw - 320px) / (1280 - 320)));
   letter-spacing: normal;
}
.description::before {
   content: 'Frontend React Developer';
}

@media (max-width: 850px) {
   .imageWrapper {
      max-width: 270px;
   }
}
@media (max-width: 640px) {
   .headerContainer {
      display: grid;
      grid-template-columns: 49% 46.5%;
      justify-content: space-between;
      align-items: center;
      gap: 0;
   }
}
@media (max-width: 425px) {
   .description::before {
      content: 'Frontend Developer';
   }
}
